

<header>
    <div id="logo"><h2>Codeial</h2></div>
    <% if(locals.user){ %>
        <div id="auth">
        <ul>
            <li>
                <%= user.name %>
            </li>
            <li>
                <a href="/users/sign-out">Sign Out</a>
            </li>
        </ul>
    </div>
    <% }else{ %>
        <div id="auth">
        <ul>
            <li>
                <a href="/users/sign-up">Sign Up</a>
            </li>
            <li>
                <a href="/users/sign-in">Sign In</a>
            </li>
        </ul>
        </div>
    <% } %>
</header>