<div style="display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100%;">
<div>
    <i style="display: inline-block;color: green;
    font-size: 3rem;" class="fas fa-check-circle"></i>
    <h1 style="display: inline-block;margin-block-end: auto;">Account Verified!</h1>
</div>
<div>
    <p>Please check your mail box for further instructions.</p>
</div>
</div>