<link type="text/css" rel="stylesheet" href="/css/home.css">
<script src="https://kit.fontawesome.com/90f89e9e87.js" crossorigin="anonymous"></script>

<main>
        <div id="feed-container">
                <h1>Codeial / Home</h1>
                <section>
                        <% if(locals.user){ %>
                        <form id="post-form" action="/posts/add-post" method="POST">
                                <textarea name="content" rows="3" cols="30" placeholder="Type Here.." required></textarea>
                                <input type="submit" value="Post" >
                        </form>
                        <% } %>
                </section>
        
                <section id="posts-container">
                        <ul id="posts-list">
                                <% for(i of posts){ %>
                                        <%- include("_posts") -%>
                                        
                                <% } %>
                        </ul>
                        
        
                </section>
        </div>
        
        <aside id="user-friends">
                <h4>Friends</h4>
                <% for(u of all_users){ %>
                        <p>
                                <a href="/users/profile/<%= u.id %>">
                                <%= u.name %></a>
                        </p>
                <% } %>
        </aside>
</main>
<script>
        console.log(this);
</script>
<script src="/javascript/home_posts.js"></script>
<script src="/javascript/posts_comments.js"></script>
<script src="/javascript/toggle-likes.js"></script>
