<link
  type="text/css"
  rel="stylesheet"
  href="<%= assetPath('css/auth.css') %>"
/>

<form action="/auth/reset?accessToken=<%=accessToken%>" method="POST" class="login-form">
  <span class="login-signup-header">Change Password</span>
  <% if(false){ %>
  <div class="alert error-dailog">Error</div>
  <% } %>
  <div class="field">
    <input type="password" name="password" placeholder="New Password" required />
  </div>
  <div class="field">
    <input type="password" name="confirm_password" placeholder="Confirm Password" required />
  </div>
  <div class="field">
    <button type="submit">Submit</button>
  </div>
</form>



