
<h1>Sign Up</h1>

<form action="/users/create" method="POST">
    <input name="name" type="text" placeholder="Enter Name" required>
    <input name="email" type="email" placeholder="Enter Email" required>
    <input name="password" type="password" placeholder="Enter Password" required>
    <input name="confirm_password" type="password" placeholder="Confirm Password" required>
    <input type="submit" value="Sign Up">
</form>