<link rel="stylesheet" type="text/css" href="/css/users-profile.css">

        <main>
                <h1>Codeial / Profile</h1>
                
                <% if(user.id == profile_user.id){ %>
                        <form action="/users/update/<%= profile_user.id %>" method="POST">
                                <input type="text" name="name" placeholder="Your Name" required>
                                <input type="text" name="email" placeholder="Your Email" required>
                                <input type="submit" value="Update">
                        </form>
                <% }else{ %>
                       <p><%= profile_user.name %></p>
                       <p><%= profile_user.email %></p>
                <% } %>
        </main>
     