
.login-signup-header {
  font-weight: 600;
  font-size: 30px;
  color: #ef7917;
}
.login-form {
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 50px auto;
  border-radius: 6px;
}
.field {
  width: 100%;
}
.field input {
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  padding: 5px;
  font-size: 15px;
}
.field input:focus {
  outline: none;
}
.field button {
  width: 100%;
  margin-top: 20px;
  background: #ef7917;
  border-radius: 2px;
  color: #fff;
  font-size: 20px;
  padding: 9px;
  border: none;
  outline: none;
}
.field button:hover {
  cursor: pointer;
}


.google-btn {
  width: 100%;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  text-decoration : none;

  .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
  }
  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }
  .btn-text {
    text-align: center;
    margin: 11px 11px 0 0;
    color: #fff;
    font-size: 20px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
  }
  &:hover {
    box-shadow: 0 0 6px #4285f4;
  }
  &:active {
    background: #1669f2;
  }
}

#google-btn-container{
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}