.home {
  padding: 20px 50px;
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.home .posts-list {
  flex-grow: 0.8;
}

.friends-list {
  background: #fff;
  margin-left: 50px;
  flex-grow: 0.2;
  height: 50vh;
  box-sizing: border-box;
  margin-top: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  overflow-y: scroll;
}

.friends-list .header {
  border-bottom: 1px solid #e0e0e0;
  font-weight: 600;
  font-size: 16px;
  color: #424242;
  padding: 20px;
}

.friends-list .friends-img img {
  height: 40px;
}

.no-friends {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.friends-item {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  color: #616161;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
}

.friends-item:hover {
  cursor: pointer;
  background-color: #f1f1f1;
}

.friends-name {
  padding: 0 10px;
}

.feed {
  flex-grow: 0.8;
  flex-direction: column;
}

.create-post {
  background: white;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 4px;
  height: 30%;
}

.create-post > div {
  padding: 10px;
  border-top: 1px solid #d0d0d0;
  display: flex;
  justify-content: flex-end;
}

.create-post textarea {
  height: 75%;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 15px;
  border: none;
  resize: none;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

#add-post-btn {
  width: 15%;
  height: 25%;
  float: right;
  top: 0px;
  background: #ef7917;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
}

#add-post-btn:focus,
.create-post textarea:focus {
  outline: none;
}

#add-post-btn:hover {
  cursor: pointer;
}

.post-wrapper {
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 20px;
  background: #fff;
}

.post-header {
  padding: 10px 10px;
}

.post-avatar {
  display: flex;
}

.post-avatar > div {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
}

.post-avatar img {
  height: 40px;
}

.post-avatar .post-author {
  color: #616161;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.post-avatar .post-time {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #9e9e9e;
}

.post-content {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #424242;
  margin-top: 15px;
}

.post-actions {
  padding: 5px;
  display: flex;
  border: 1px solid #e0e0e0;
  padding: 5px 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #616161;
  border-right: none;
  border-left: none;
}

.post-actions img {
  height: 18px;
}

.post-actions img:hover {
  cursor: pointer;
}

.post-like {
  display: flex;
  align-items: center;
}

.post-comments-icon {
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.post-like span,
.post-comments-icon span {
  margin-left: 7px;
}

.post-comment-box {
  padding: 10px 10px;
}

.post-comment-box input {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  height: 35px;
  margin: 0 auto;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  padding: 5px;
}

.post-comment-box input:focus {
  outline: none;
}

.post-comments-list {
  padding: 5px 10px;
  position: relative;
}

.post-comment-item {
  background: #eceffa;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 14px;
}

.post-comment-header {
  display: flex;
  align-items: center;
}

.post-comment-header .post-comment-author {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #757575;
}

.post-comment-header .post-comment-time {
  font-size: 12px;
  line-height: 16px;
  color: #9e9e9e;
  margin-left: 8px;
}

.post-comment-header .post-comment-likes {
  font-size: 12px;
  line-height: 16px;
  color: #616161;
  margin-left: 8px;
}

.post-comment-content {
  margin-top: 7px;
}

.post-comments-list .comment-like {
  position: absolute;
  right: 21px;
  top: 13px;
}

.post-comments-list .comment-like img {
  height: 20px;
}

.post-comments-list .comment-like img:hover {
  cursor: pointer;
}

.delete-btn {
  margin-left: auto;
}

.delete-post-btn {
  color: black;
  font-size: larger;
}

.comment-avtar{
  height: 40px;
}