body {
  margin: 0; }

main {
  height: auto;
  display: flex;
  flex-direction: row; }
  main #block {
    border: 2px solid black;
    width: 20%; }
  main #feed-container {
    border: 2px solid black;
    width: 60%;
    margin: auto; }
  main aside {
    border: 2px solid black;
    width: 20%;
    display: flex;
    flex-direction: column; }
    main aside #users-list {
      border: 2px solid black;
      height: auto; }
    main aside #friends-list {
      border: 2px solid black;
      height: auto; }
