
<p>Hi ,</p>

<p>As you have requested to reset password , here's the URL , please open the same in browser</p>

<a href='http://34.207.154.78/auth/reset-password?accessToken=<%=accessToken.token%>'>http://34.207.154.78/auth/reset-password?accessToken=<%=accessToken.token%></a>