
<p>Hi ,</p>

<p>As you have requested to reset password , here's the URL , please open the same in browser</p>

<a href='http://localhost:100/auth/reset-password?accessToken=<%=accessToken.token%>'>http://localhost:100/auth/reset-password?accessToken=<%=accessToken.token%></a>